*,
*::after,
*::before{
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html{
	font-size: 62.5%;
}

body{
	padding: 1rem 2.5rem;
	font-family: 'Roboto', sans-serif;
	box-sizing: border-box;
}

.header{
	height: 95vh;
	background-image: linear-gradient(to right, rgba(15,12,41,0.4), rgba(48,43,99,0.4), rgba(36,36,62,0.4)), url(../images/main.jpg);
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	position: relative;
	clip-path: polygon(0 0, 80% 0, 100% 30%, 100% 100%, 20% 100%, 0 70%);
}

.logo-box{
	position: absolute;
	top: 2.5rem;
	left: 2.5rem;
	transition: 0.3s;
}

.logo{
	width: 7rem;
}

.logo-box:hover{
	cursor: pointer;
	transform: rotate(60deg);
}

.text-box{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

.heading-primary{
	color: #fff;
	text-transform: uppercase;
	backface-visibility: hidden;
}

.heading-primary-main{
	font-size: 5rem;
	letter-spacing: 2.2rem;
	font-family: 'Montserrat', sans-serif;
	display: block;
	margin-bottom: 2rem;
}

.heading-primary-sub{
	display: block;
	font-size: 1.7rem;
	letter-spacing: 1.1rem;
	margin-bottom: 10rem;
}

.btn:link,
.btn:visited{
	text-decoration: none;
	padding: 2rem 5rem;
	display: inline-block;
	border-radius: 5rem;
	font-weight: bold;
	letter-spacing: .5rem;
	font-size: 1.6rem;
	transition: 0.2s;
	border: none;
	position: relative;
}

.btn:hover{
	box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5);
	color: #fff;
	background: #007bff;
}

.btn-primary{
	background-color: #fff;
	color: rgb(15,12,41);
}

.btn::after{
	content: "";
	display: inline-block;
	width: 100%;
	height: 100%;
	border-radius: 5rem;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	transition: 0.3s;
}

.btn-primary::after{
	background-color: #fff;
}

.btn:hover::after{
	transform: scale(2);
	opacity: 0;
}

.section-about{
	background: rgb(250, 250, 250);
	padding: 30rem 0 20rem 0;
	margin-top: -30vh;
}

.head-secondary{
	text-transform: uppercase;
	font-size: 3.5rem;
	letter-spacing: 2rem;
	font-weight: 700;
	background: linear-gradient(to right, rgb(15,12,41), rgb(48,43,99), rgb(36,36,62));
	color: transparent;
	cursor: pointer;
	display: inline-block;
	-webkit-background-clip: text;
	margin-bottom: 10rem;
	transition: 0.3s;
}

.head-secondary:hover{
	transform: scale(1.05);
}

.center{
	text-align: center;
}

.card-box{
	width: 100%;
}

.container{
	margin: 0 auto;
}

.card-parent{
	display: inline-block;
	width: 30rem;
	height: 35rem;
	margin: 3rem;
	/*transition: 0.3s;*/
	/*background: #fff;*/
	border-radius: 0.3rem;
	perspective: 100rem;
}

.card{
	width: inherit;
	height: inherit;
	position: absolute;
	transition: 1s;
	background: #fff;
	border-radius: 0.5rem;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	backface-visibility: hidden;
}

.second{
	background: #fff;
	transform: rotateY(-180deg);
	padding: 0 2rem;
	overflow: hidden;
}

.card img{
	display: inline-block;
	width: 29rem;
	height: 30rem;
}

/*.card:hover{
	cursor: pointer;
	transform: scale(1.05);
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}*/

.card-parent:hover .first{
	transform: rotateY(180deg);
}

.card-parent:hover .second{
	transform: rotateY(0deg);
}

.card:hover .card-info{
	transition: inherit;
}

.card-info{
	display: inline-block;
	font-size: 2rem;
	text-decoration: underline;
	letter-spacing: 0.5rem;
}

.second .card-info{
	line-height: 7rem;
}

.card-description{
	font-size: 1.7rem;
	text-align: left;
}

.contact{
	height: 95vh;
	background-image: linear-gradient(to right, rgba(15,12,41,0.4), rgba(48,43,99,0.4), rgba(36,36,62,0.4)), url(../images/contact.jpg);
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	backface-visibility: hidden;
	margin-top: -30vh;
	clip-path: polygon(0 20%, 100% 0, 100% 80%, 0% 100%);
}

.contact .head-secondary{
	color: #fff;
	margin-top: 12rem;
	margin-bottom: 7rem;
}

.contact-info{
	font-size: 2.5rem;
	letter-spacing: 0.7rem;
	color: #fff;
}

.contact-number{
	font-size: 1.5rem;
}

.about{
	height: 70vh;
	background: #333;
	margin-top: -20vh;
}

.about-logo{
	margin-top: 15vh;
	display: inline-block;
}

.about .head-secondary{
	color: #fff;
	letter-spacing: 1rem;
	font-weight: 100;
}

.about-info{
	font-size: 1.5rem;
	letter-spacing: 0.7rem;
	color: #fff;
	margin-bottom: 5rem;
}

.jazz a{
	text-decoration: none;
	font-size: 1.5rem;
	letter-spacing: 1rem;
	background: linear-gradient(to right, orange , yellow, green, cyan, blue, violet);;
	color: transparent;
	cursor: pointer;
	-webkit-background-clip: text;
}

.jazz{
	transition: 0.2s;
	display: inline-block;
}

.jazz:hover{
	transform: scale(1.1) rotate(-2deg);
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

@media only screen and (max-width: 790px) {
	html{
		font-size: 40%;
	}

	.section-about{
		margin-top: -20vh;
	}

	.card-parent{
		width: 40rem;
	}

	.contact .head-secondary{
		margin-top: 30rem;
		font-size: 2.5rem;
		margin-bottom: 15rem;
	}

	.about-logo{
		margin-top: 25vh;
	}

	.about-info{
		margin-bottom: 10rem;
	}
}

::-webkit-scrollbar {
display: none;
}











